<script>
	$('document').ready(function(){
		$(".convert").click(function(e){
			var name = $(this).attr("id")
			if(name != ".csv")
			{
				alert("It converts files only with .csv extensions")				
				e.preventDefault();
			}
		})
	})
</script>
<body class="left_panel">
<div id="list_cleans" class="container">

<p class="well"><%= link_to "Add List", new_list_clean_path, class: 'btn btn-primary btn-medium' %>
  <%= link_to image_tag("pdf.png", :size => '40x40', :title => "Download List"),view_pdf_path(:format => "pdf") , :class => "pull-right" %>
</p>

<%#= render :partial => 'menu'%>

  <%= render :partial => "search_form", locals: {q: @q} %>
<div class="container">
  <% if @list_cleans.blank? %>
    <p class="well">You don't currently have any data </p>
  <% else %>
    <h2>Your List Cleans </h2>
    <p>Displaying <strong><%= @list_cleans.offset_value + 1 %> - <%= @list_cleans.offset_value + @list_cleans.length %> of <%= @list_cleans.total_count %></strong> records </p>
    <table class="table table-striped">
      <tr>
		<th><%= sort_link(@q, :date) %></th>
		<th><%= sort_link(@q, :source) %></th>
		<th><%= sort_link(@q, :upload_by) %> </th>
		<th><%= sort_link(@q, :file_name) %> </th>
		<th><%= sort_link(@q, :selection_query) %> </th>
		<th><%= sort_link(@q, :cleaned_by) %></th>
		<th><%= sort_link(@q, :clean_date) %></th>
		<th><%= sort_link(@q, :no_of_records) %></th>
		<th><%= sort_link(@q, :no_of_good) %></th>
		<th><%= sort_link(@q, :qa_by) %></th>
		<th><%= sort_link(@q, :qa_date) %></th>
		<th><%= sort_link(@q, :qa_notes) %></th>
		<th><%= sort_link(@q, :status) %></th>
		<th><%= sort_link(@q, :newfile) %></th>
		<th></th>
      </tr>
	<% total = 0 %>
	<% total1 = 0 %>
    <% for list_clean in @list_cleans %>
      <tr>
        	<td><%= list_clean.date %></td>
		<td><%= list_clean.source %></td>
		<td><%= list_clean.upload_by %></td>
		<td style="width:150px"> <%= link_to File.basename(list_clean.file_name.path).truncate(20), list_clean.file_name.url, title: File.basename(list_clean.file_name.path) if !list_clean.file_name.blank? %></td>
		<td><%= list_clean.selection_query %></td>
		<td><%= list_clean.cleaned_by %></td>
		<td><%= list_clean.clean_date %></td>
		<td><%= list_clean.no_of_records %></td>
		<% total = total + list_clean.no_of_records if !list_clean.no_of_records.nil?%>
		<td><%= list_clean.no_of_good %></td>
		<% total1 = total1 + list_clean.no_of_good  if !list_clean.no_of_good.nil?%>
		<td><%= list_clean.qa_by %></td>
		<td><%= list_clean.qa_date %></td>
		<td><%= list_clean.qa_notes %></td>
		<td><%= list_clean.status %></td>
		<td style="width:150px"><%= link_to File.basename(list_clean.newfile.path).truncate(20), list_clean.newfile.url if !list_clean.newfile.blank? %></td>
        <td class="span3">
          <%= link_to "Detail", list_clean_path(list_clean), class: 'btn btn-mini'%>
          <%= link_to "Edit", edit_list_clean_path(list_clean), class: 'btn btn-mini'%>
	<% if list_clean.user_id == current_user.id %>
          <%= link_to "Delete", list_clean_path(list_clean), class: 'btn btn-mini btn-danger', method: :delete, confirm: 'Are you sure?'%>
	<% end %>
	<% if !list_clean.file_name.blank? %>
	<%= link_to "Convert", new_sales_genie_datum_path(:id => list_clean.id, :up_date => Time.now.strftime("%m/%d/%Y")), class: 'btn btn-mini btn-primary convert', :id => "#{File.extname(list_clean.file_name.path)}", :confirm => "Do you want to convert list file?" %>
	<% end %>
        </td>
      </tr>
    <% end %>
	<tr>
		<td><b>Totals:</b></td>
		<td colspan="6"></td>
		<td><b><%= total %></b></td>
		<td><b><%= total1 %></b></td>
		<td colspan="6"></td>
	</tr>
    </table>
    <%= paginate @list_cleans %>
  <% end %>
</div>
</div>
</body>
