<body class="left_panel">
<div class="container">
<%= render :partial => 'menu'%>

<%= render :partial => "search_form", locals: {q: @q} %>
<div class="container" id="search-result">
  <% if @list_cleans.blank? %>
    <% if params[:q] %>
      <p class="well">Your search does not generate a result</p>
    <% end %>
  <% else %>
    <p>Displaying <strong><%= @list_cleans.offset_value + 1 %> - <%= @list_cleans.offset_value + @list_cleans.length %> of <%= @list_cleans.total_count %></strong> records </p>
    <table class="table table-striped">
      <tr>
        <th><%= sort_link(@q, :date) %></th>
	<th><%= sort_link(@q, :source) %></th>
	<th><%= sort_link(@q, :upload_by) %> </th>
	<th><%= sort_link(@q, :file_name) %> </th>
	<th><%= sort_link(@q, :selection_query) %> </th>
	<th><%= sort_link(@q, :cleaned_by) %></th>
	<th><%= sort_link(@q, :clean_date) %></th>
	<th><%= sort_link(@q, :no_of_records) %></th>
	<th><%= sort_link(@q, :no_of_good) %></th>
	<th><%= sort_link(@q, :qa_by) %></th>
	<th><%= sort_link(@q, :qa_date) %></th>
	<th><%= sort_link(@q, :qa_notes) %></th>
	<th><%= sort_link(@q, :status) %></th>
	<th><%= sort_link(@q, :newfile) %></th>
	<th></th>
      </tr>
    <% for list_clean in @list_cleans %>
      <tr>
        	<td><%= list_clean.date %></td>
        	<td><%= list_clean.source %></td>
		<td><%= list_clean.upload_by %></td>
		<td style = "width:150px;"> <%= link_to File.basename(list_clean.file_name.path).truncate(20), list_clean.file_name.url if !list_clean.file_name.blank? %></td>
		<td><%= list_clean.selection_query %></td>
		<td><%= list_clean.cleaned_by %></td>
		<td><%= list_clean.clean_date %></td>
		<td><%= list_clean.no_of_records %></td>
		<td><%= list_clean.no_of_good %></td>
		<td><%= list_clean.qa_by %></td>
		<td><%= list_clean.qa_date %></td>
		<td><%= list_clean.qa_notes %></td>
		<td><%= list_clean.status %></td>
		<td style = "width:150px;"><%= link_to File.basename(list_clean.newfile.path), list_clean.newfile.url if !list_clean.newfile.blank? %></td>
        <td class="span3">
          <%= link_to "Detail", list_clean_path(list_clean), class: 'btn btn-mini'%>
          <%= link_to "Edit", edit_list_clean_path(list_clean), class: 'btn btn-mini'%>
	<% if list_clean.user_id == current_user.id %>
          <%= link_to "Delete", list_clean_path(list_clean), class: 'btn btn-mini btn-danger', method: :delete, confirm: 'Are you sure?'%>
	<% end %>
	<% if !list_clean.file_name.blank? %>
	<%= link_to "Convert", new_sales_genie_datum_path(:id => list_clean.id, :up_date => Time.now.strftime("%m/%d/%Y")), class: 'btn btn-mini btn-primary convert', :id => "#{File.extname(list_clean.file_name.path)}", :confirm => "Do you want to convert list file?" %>
	<% end %>
        </td>
      </tr>
    <% end %>
    </table>
    <%= paginate @list_cleans %>
  <% end %>
  
</div>
</div>
</body>
