<script type="text/javascript">
$(function(){
$('#datepicker').datepicker({
dateFormat:  'mm/dd/yy'
});
$('#datepicker1').datepicker({
dateFormat:  'mm/dd/yy'
});
$('#datepicker2').datepicker({
dateFormat:  'mm/dd/yy'
});

 
$("#dates").click(function () {
  var $that = $(this);
  $("#range").toggle("slow", function() {
    $that.toggleClass("toggled-off");
  });
});

$("#date").click(function () {
  var $that = $(this);
  $("#ranges").toggle("slow", function() {
    $that.toggleClass("toggled-off");
  });
});		


});
</script>

<div id="simple-search-form">
  <%= search_form_for q,:url => search_activities_path, :html => {method: :post, class: 'well form-search'}  do |f| %>
  <fieldset>
    <%= f.text_field :info_or_tags_cont, class: "input-medium search-query" %>
    <button type="submit" class="btn btn-success">Search</button>&nbsp;&nbsp;
    <a href="#" id="advance-search">Advanced</a>
    &nbsp;&nbsp;
    <%= link_to "Reset " , {:controller => "activities", :action => "index" , :FILTER => @chosen } %>
  <% end %>
  </fieldset>
</div>

<div id="advance-search-form" style="display: none">
  <%= search_form_for q,:url => search_activities_path, :html => {method: :post, class: 'form-horizontal'}  do |f| %>
  <fieldset>
  <legend>Search Data </legend>
  <div class="control-group">
    <%= f.label :info_cont, "Info", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :info_cont %>
    </div>
  </div>
  

<!--
  <div class="control-group">
    <%#= f.label :category_name_cont, "Category", class: 'control-label' %>
    <div class="controls">
      <%#= f.text_field :category_name_cont %>
    </div>
  </div> -->

 <!-- <div class="control-group">
    <%#= f.label :folder_name_cont, "Folder", class: 'control-label' %>
    <div class="controls">
      <%#= f.text_field :category_folder_name_cont %>
    </div>
  </div>  -->

  
  <div class="control-group">
    <%= f.label :tags_cont, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags_cont %>
    </div>
  </div>
  
  
       <div class="control-group">
    <%= f.label :date_cont, "Date", class: 'control-label' %>
    <div class="controls">
      <% if q.date_cont.blank? %>
    <%= f.text_field :date_cont, include_blank: true, default: nil, :id => 'datepicker', :style=>"width:100px;" %> 
      <% elsif !q.date_cont.blank? %>
      <%= f.text_field :date_cont, :value => "#{change_date_format_for_edit_page(q.date_cont)}", :id => 'datepicker', :style=>"width:100px;" %> 
      <% end %>&nbsp;<%= link_to "Select Range", "#", :id => 'dates' %> 
      
    </div>
  </div>

 <div class="control-group" id="range" style="display:none" >
    <%= f.label :date_gteq, "Date Range", class: 'control-label' %>
    <div class="controls">
      <% if q.date_gteq.blank? %>
      <%= f.text_field :date_gteq, include_blank: true, default: nil, :id => 'datepicker1', :style=>"width:100px;" %>
      <% elsif !q.date_gteq.blank? %>
      <%= f.text_field :date_gteq, :value => "#{change_date_format_for_edit_page(q.date_gteq)}", :id => 'datepicker1', :style=>"width:100px;" %> 
      <% end %>
       - 
       <% if q.date_lteq.blank? %>
      <%= f.text_field :date_lteq, include_blank: true, default: nil, :id => 'datepicker2', :style=>"width:100px;"  %>
       <% elsif !q.date_lteq.blank? %>
       <%= f.text_field :date_lteq, :value => "#{change_date_format_for_edit_page(q.date_lteq)}", :id => 'datepicker2', :style=>"width:100px;" %> 
       <% end %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <input type="reset" class='btn'></input>
    <a href="#" id="advance-search">simple</a>
  </div>  
  </fieldset>
  <% end %>
</div>
